body {
    font-family: 'Nunito', serif;
    transition: ease 0.2s;
    font-size: 1rem;
    margin-top:0;
    margin-bottom: 0;
    overflow-x: hidden;
    
}

.light-theme {
    color: #121314;
    background-color: #F9F9FF;
}

.dark-theme{
    background-color: #121314;
    color: #F9F9FF;
}

.site {
    max-width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin:0px;
    text-align: center;
}

.header-heading, .heading-h2 {
    text-align: left !important;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin:0px;
    text-align: center;

}

h3 {
    font-size: 2rem;
    font-weight: 900;
    margin:0px;
    text-align: center;
    color: #F9F9FF;

}

h4 {
    font-size: 1.3rem;
    font-weight: 100;
    margin:0px;
    text-align: center;
    color: #F9F9FF;
}

button {
    font-weight: 100;
display: block;
margin-left: auto;
margin-right: auto;
padding: 25px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out 0.4s;

}

a {text-decoration: none;}

.light-button-theme {
    background:none;
    border: 2px solid #121314;
}

.dark-button-theme {
    color:#121314;
    background:#F9F9FF;
    border: 2px solid #F9F9FF;
}

.heading-h2 {
    
opacity: 0;}

.type-paragraph {
opacity: 1;    transition: 0.3s ease-out;
    transition-delay: 3.5s;

}

#navbar {
    margin-left:-8px;
    z-index: 10;
}


.not-scrolled-nav {
    padding-top: 25px;
    margin: 0px;
    color:#F9F9FF;
    width: 100vw;
}

.scrolled-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
    width: 100vw;
    transition: ease 0.2s;
}

.light-nav-theme {
    background-color:#F9F9FF;
    color: #121314;
}

.dark-nav-theme {
    color:#F9F9FF;
    background-color: #121314;

}

.nav-items-right {
    float: inline-end;
    float: right;
    
}

.nav-items {
    display: block;
  margin-left: auto;
  margin-right: auto;
    max-width: 70vw;
}

.nav-item {
    padding:0px 20px 0px 20px;
    font-weight: 600;
}

.nav-item-left {
    float: left;
font-weight: 900;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

header{
    height:100vh;
    margin: 0;
    color: #F9F9FF;
    z-index: 1;
}


.img-container {
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    height:100vh;
    width:100vw;
    overflow: hidden;
    
}

.header-image {
    top:0;
    position:absolute;
    height: 120vh;
    width: 100vw;
    filter: brightness(30%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-text {
    max-width: 500px;
}

.logo {
    width:250px;
    height: 250px;
    margin-right: 100px;
    opacity: 0;
}

.show-logo {
    opacity: 1;
    transition: 0.3s ease-out;
    transition-delay: 3.5s;
    }

    
    
.arrow-svg {
    position: absolute;
	top:100vh;
	bottom: 80px;
	left: 0;
	right: 0;
    opacity: 0;
    margin: auto;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}

.show-arrow {
    opacity: 1;
    transition: 0.3s ease-out;
    transition-delay: 5s;
}

.portfolio-item-container {
    width:100%;
    background-color: #121314;
    margin: 0;
    padding-top: 50px;
    border-radius: 20px;
    margin-bottom: 100px;
    cursor: pointer;
}

.portfolio-svg {
    width: 70%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 170px;

}


.social-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50px;
    height:50px;
    margin-bottom: 100px;
    cursor: pointer;
}

.light-svg-theme {
    fill: #121314;
}

.dark-svg-theme {
    fill: #F9F9FF;

}

@keyframes bounce {
    50% {
        transform: translateY(-7px);
      }
    }


    /* for screens larger than 2000 px wide */
@media only screen and (min-width: 2200px) {
    .site {
        max-width: 1600px;
    }

    .nav-items {
        max-width: 1600px;
    }
}

    /* for screens smaller than 900 px wide */

@media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
  }

  